@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: sans-serif;
  font-size: calc(1rem + 0.1vw);
}

body {
  line-height: 1.6;
  word-wrap: break-word;
}

a {
  color: rgb(0, 0, 238);

  @apply underline;
  @apply dark:text-blue-400;

  &:visited {
    color: rgb(85, 26, 139);

    @apply dark:text-violet-300;
  }
}
