@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1000px) {
  html {
    font-size: 1.6vw;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 19.2px;
  }
}

html {
  font-family: sans-serif;
}

body {
  line-height: 1.8;
  margin: 0 auto !important; /* !important is to override `margin: 0` on default 404 page. */
  word-wrap: break-word;
}

a {
  color: rgb(0, 0, 238);
  text-decoration: underline;
}

a:visited {
  color: rgb(85, 26, 139);
}
